@font-face {
 font-family: 'RobotoReg';
 src: url(../fonts/RobotoRegular/RobotoRegular.eot) format("eot");
 src: url(../fonts/RobotoRegular/RobotoRegular.ttf) format("ttf");
 src: url(../fonts/RobotoRegular/RobotoRegular.woff) format("woff");
 font-weight: normal; }
@font-face {
 font-family: 'RobotoBold';
 src: url(../fonts/RobotoBold/RobotoBold.eot) format("eot");
 src: url(../fonts/RobotoBold/RobotoBold.ttf) format("ttf");
 src: url(../fonts/RobotoBold/RobotoBold.woff) format("woff");
 font-weight: bold; }
@font-face {
 font-family: 'RobotoLight';
 src: url(../fonts/RobotoLight/RobotoLight.eot) format("eot");
 src: url(../fonts/RobotoLight/RobotoLight.ttf) format("ttf");
 src: url(../fonts/RobotoLight/RobotoLight.woff) format("woff");
 font-weight: light; }

body {
  background-color: #f5f5f5;
}

[class*="-inner"] {
  margin: 0 auto;
  padding-left: 14px;
  padding-right: 14px;
}



/*320*/

@media only screen and (min-width: 320px) and (max-width: 899px) {
  [class*="-inner"] {
  width: 320px;
 }

  h1 {color: red;}
  .logos {display: none;}
}

@media only screen and (min-width: 900px) and (max-width: 3000px) {

[class*="-inner"] {
  width: 900px;
}

.header-inner {
  margin-top: 142px;
}

.header-name {
  font-family: RobotoBold;
  font-size: 64px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.header-bottom {
  margin-top: 66px;
  font-size: 0;
}

.header-text {
  display: inline-block;
  width: 40%;
  font-family: RobotoBold;
  font-size: 18px;
  color: #919191;
  text-align: right;
  vertical-align: center;
  margin-left: 100px;
  margin-top: 0;
  margin-right: 50px;
}

.header-btn {
  display: inline-block;
  width: 317px;
  height: 64px;
  font-family: RobotoBold;
  font-size: 24px;
  color: #fff;
  background: linear-gradient(to right, #33cccc, #6666cc);
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  padding: 0;
  vertical-align: top;
}

.main-top {margin-top: 221px;}

.main-top-inner {overflow: hidden;}

.main-topic {
  width: 253px;
  font-family: RobotoBold;
  font-size: 64px;
  line-height: 84px;
  float: left;
  margin: 0;
}

.main-list {
  list-style-type: none;
  padding-left: 0;
  margin-left: 304px;
  font-family: 'RobotoBold';
  font-size: 18px;
  color: #3b9478;
}

.main-list-item {
  width: 600px;
  display: block;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 15px;
  border-radius: 30px;
}

.main-list-item:before {
  content:'';
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 22px;
  background-color: #cccccc;
  vertical-align: middle;
  margin-left: 23px;
  margin-right: 23px;
}

.main-bottom {
  margin-top: 230px;
}

.main-text {
  color: #919191;
  text-align: center;
  font-family: 'RobotoBold';
  font-size: '18px';
}

.logos {
  width: 100%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 100px;
}

.logo-slide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100px;
  height: 60px;
  text-align: center;
  border: 1px solid black;

  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.logo-slide:nth-of-type(2n) {
  margin-left: 44px;
}

.footer {
  background: linear-gradient(to top, #336666, #66cc99);
  padding-top: 110px;
  padding-bottom: 44px;
}

.footer:before {
  content: "The World's Biggest Stock Exchanges";
  font-family: 'RobotoBold';
  font-size: 75px;
  opacity: 0.18;
  white-space: nowrap;
}

.stocks {
  list-style: none;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
}

.stock-item {
  display: inline-block;
  margin-left: 74px;
}

.stock-link {
  color: #ffcc00;
  text-decoration: none;
  border: 1px solid black; 
  display: block;
}

.stock-link--1 {
  width: 67px;
  height: 67px;
}

.stock-link--2 {
  width: 203px;
  height: 67px;
}

.stock-link--3 {
  width: 53px;
  height: 53px;
}

.stock-link--4 {
  width: 156px;
  height: 50px;
}

.learn-more-link {
	display: block;
  font-family: 'RobotoReg';
  font-size: 14px;
  color: #ffcc00;
	text-align: center;
	text-decoration: none;
  margin-top: 57px;
}

}